/* ===== Global ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0f2f5;
}

/* ================= LOGIN PAGE ================= */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
}

.left {
  flex: 1;
}

.left h1 {
  color: #1877f2;
  font-size: 56px;
  margin-bottom: 10px;
}

.left p {
  font-size: 22px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.card {
  background: #fff;
  padding: 20px;
  width: 360px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

.card input {
  padding: 14px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

.login-btn {
  background: #1877f2;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.forgot {
  text-align: center;
  margin: 15px 0;
  color: #1877f2;
  text-decoration: none;
  font-size: 14px;
}

.create-btn {
  background: #42b72a;
  color: white;
  padding: 14px;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
}

/* ================= REGISTER PAGE ================= */
.register-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.register-card {
  background: #fff;
  width: 430px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.register-card h2 {
  font-size: 28px;
}

.sub {
  color: gray;
  margin-bottom: 10px;
}

.register-card input,
.register-card select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* Grid name */
.name-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* Birthday */
.birthday-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Gender */
.gender-flex {
  display: flex;
  gap: 10px;
}

.gender-box {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

/* Terms */
.terms {
  font-size: 12px;
  color: gray;
  margin: 10px 0;
}

/* Button */
.signup-btn {
  background: #42b72a;
  color: white;
  padding: 14px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .left {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .register-card {
    width: 90%;
  }

  .gender-flex {
    flex-direction: column;
  }
}
